
.text-field {
    -fx-border-color: #727374;
    -fx-background-color: #fff;
    -fx-background-radius: 12px;
    -fx-prompt-text-fill: #b2b2b2;
}

.text-field:focused, .jfx-combo-box:focused {
    -fx-border-color: #242121;
    -fx-background-color: #FFFFFF;
    -fx-border-width: 2px; /* Adjust the border width */
}