.text-field {
    -fx-padding: 0;
    -fx-border-color: #fff;
}

.btn {
    -fx-background-color: #f2f2f2;
    -fx-border-color: #d7d7d7;
    -fx-border-radius: 12px;
    -fx-background-radius: 12px;
    -fx-text-fill: #000;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
}

.jfx-combo-box .list-view {
    -fx-hbar-policy: always;
    -fx-vbar-policy: always;
    -fx-pref-width: 320px;
}

.jfx-combo-box .list-cell {
    -fx-font-size: 15px;
    -fx-padding: 0;
    -fx-wrap-text: true;
}

.text-field:focused,
.password-field:focused,
.jfx-combo-box:focused {
    -fx-border-width: 0;
}

.image-link {
    -fx-border-color: #727374;
    -fx-border-radius: 12px;
    -fx-background-color: #fff;
    -fx-background-radius: 12px;
    -fx-prompt-text-fill: #b2b2b2;
    -fx-padding: 10px;
}

.image-link:focused {
    -fx-border-color: #727374;
    -fx-background-color: #fff;
    -fx-border-width: 2px;
}
